COMPOSE_PROJECT_NAME=money-flow-system

# API
API_HOST=api
API_PORT=8080
API_BASE_URL=http://${API_HOST}:${API_PORT}

# Base de datos
DB_HOST=db
DB_PORT=1433
DB_NAME=LibrarySystem
DB_USER=sa
DB_PASSWORD=SuperSecret123!

# Seguridad
JWT_SECRET=ClaveSegura123!
JWT_EXPIRATION_MINUTES=60

# Logging
LOG_LEVEL=Information

# Volumenes de datos
UID=1000
GID=1000

# WEB
WEB_PORT=4200