<form class="form_container" [formGroup]="form" (ngSubmit)="onSubmit()">

    <h2 class="form_title"> 
        <span *ngIf="isEditMode" >Editar</span> 
        <span *ngIf="!isEditMode">Agregar</span> 
        Registro
    </h2>

    <div class="form_section">
    <!-- campo nombre -->
        <div class="floating-group">
            <input type="text" formControlName="nombre">
            <label for="nombre">Nombre</label>
        </div>

    <!-- campo direccion -->
        <div class="floating-group">
            <input type="text" formControlName="descripcion"/>
            <label for="descripcion">Descripcion</label>
        </div>

    <!-- campo edad -->
        <div class="floating-group">
            <input type="text" formControlName="montoMaximo" (keydown)="onlyNumbers($event)" maxlength="7"/>
            <label for="montoMaximo">Monto Maximo(1 - 99999)</label>
        </div>

    </div><!--end class="form_section" -->
    
    <!-- boton para guardar cambios -->
    <button type="submit" 
        class="sqr_rds mt-1" 
        style="display: flex; margin: 0; padding: 0; background-color: transparent; border: 0px transparent;" >
        <img    src="/assets/icons/save_disk.png" 
                alt="" 
                class="sqr_rds" 
                style="width: 5rem; height: 5rem;"
        >
    </button>
</form>